# Version Control
.git
.github

# Dependencies
node_modules

# Logs
npm-debug.log
pnpm-debug.log

# Environment Variables
.env
.env.*

# Security
security-reports

# Docker
Dockerfile
docker-compose.yml

# Documentation
README.md
CHANGELOG.md
SECURITY.md
